@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #def2f1b0;
  --text-color: #333;
  --accent-color: #4caf50;
  --gradient-start: #bfe0d2;
  --gradient-end: #f7f7f7;
  --font: "Poppins", sans-serif;
  --radiust: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--font), serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}

/*_NAV_____________________________________________*/
nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  padding: 0.9rem;
  background: var(--text-color);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 6px 10px;
  background-color: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.093);
  border-radius: var(--radiust);
  letter-spacing: 1px;
  font-size: 1em;
  opacity: 0.8;
  transition:
    transform 0.3s ease,
    filter 0.3s ease,
    opacity 0.3s ease;
}

nav a:hover {
  transform: scale(1.1);
  opacity: 1;
}

nav i {
  font-size: 20px;
}

/*_________________________________________________*/
.dev-text {
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Fira Code", monospace;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(
    20deg,
    #4caf50,
    #4caf50,
    #3f51b5,
    #4caf50,
    #e91e63,
    #4caf50
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/*_________________________________________________*/
#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #c3d9e4;
  margin: 1rem auto;
  width: 100%;
  border-radius: var(--radiust);
  border: 1px solid #cde6e9;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/*SWITCHER_________________________________________________*/
#toggleButton {
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  width: 200px;
  height: 40px;
  border: 1px solid #33333314;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--radiust);
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  transition: background 0.3s ease;
}

#toggleButton span {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s ease;
}

.left {
  left: 0;
  background: var(--gradient-start);
  opacity: 1;
  border-right: 1px dotted #33333314;
  transition: color 0.4s ease;
}

.left:hover {
  color: var(--accent-color);
}

.right {
  right: 0;
  background: var(--gradient-start);
  opacity: 0.3;
  transition: color 0.4s ease;
}

.right:hover {
  color: var(--accent-color);
}

#toggleButton.active .left {
  opacity: 0.3;
}

#toggleButton.active .right {
  opacity: 1;
}

:not(.active) .left {
  opacity: 1;
}

:not(.active) .right {
  opacity: 0.3;
}

/*CONTENT_______________________________________________*/
#info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50vh;
  min-height: 700px;
  margin-top: 1em;
}

#panels {
  position: relative;
  flex: 1;
  background-color: #d1e1e9e4;
  margin: 2em 0 2em 2em;
  border-radius: var(--radiust);
  position: relative;
}

#skills,
#facts {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.4s ease,
    visibility 0.4s;
}

[data-state="skills"] #skills,
[data-state="facts"] #facts {
  opacity: 1;
  visibility: visible;
}

#skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5em;
  gap: 10px;
  text-align: center;
  border-radius: var(--radiust);

  background: rgba(255, 255, 255, 0.455);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.skill-container:hover {
  transform: translateY(-5px);
}

.skill-container img {
  display: block;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skill-container span {
  font-family: "Fira Code", monospace;
}

#facts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.fact-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0.2rem;
  width: 90%;
  text-align: center;
  border-radius: var(--radiust);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.455);
  transition: transform 0.3s ease;
}

.fact-container:hover {
  transform: translateY(-5px);
}

.fact-text {
  font-size: 0.9rem;
  color: var(--text-color);
}

.code-text {
  font-family: "Fira Code", monospace;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(
    20deg,
    #4caf50,
    #4caf50,
    #3f51b5,
    #4caf50,
    #e91e63,
    #4caf50
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientMove 4s infinite alternate;
}

.photo {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  transition:
    opacity 2s ease,
    clip-path 2s ease;
}

[data-state="skills"] #image2,
[data-state="facts"] #image1 {
  opacity: 1;
  clip-path: inset(0 0 0 0);
}

/*PROJECTS_________________________________________________*/
#projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  max-width: 1400px;
  margin: 1em auto;
  justify-items: center;
}

.projects-row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: var(--radiust);
  width: 650px;
  max-width: 680px;
  padding: 1em;
  border: 1px solid #cde6e9;
  background:
    radial-gradient(rgba(0, 0, 0, 0.025) 1px, transparent 1px), #bfe0d2;
  background-size: 6px 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.project-summary {
  min-height: 3em;
  font-size: 0.9rem;
}

.project-link a {
  display: inline-block;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.236);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: var(--radiust);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  color: var(--text-color);
  font-size: 1.15rem;
  padding: 10px 14px;
  font-weight: 600;
  transition: transform 0.3s ease;
}

.project-link a:hover {
  transform: scale(1.1);
}

.project-card-content {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

#projects img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: var(--radiust);
}

.projects-header-text {
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: var(--text-color);
}

.project-desc-text {
  font-size: 0.8rem;
  color: var(--text-color);
  line-height: 1.6;
  text-align: left;
}

.project-desc-text ul {
  margin-top: 0.5rem;
  padding-left: 1.5rem;
}

.project-desc-text ul li {
  margin-bottom: 0.5rem;
}

.project-desc-text p {
  font-weight: bold;
  font-size: 0.8rem;
}

/*scrollTopBtn_________________________________________________*/
#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  left: auto;
  right: 20px;
  margin: auto;
  padding: 16px 18px;
  z-index: 10;
  display: none;
  background: #9c9c9cbf;
  border: none;
  border-radius: var(--radiust);
  cursor: pointer;
  color: #ebebeb;
  font-size: 18px;
  transition: all 0.1s ease;
}

#scrollTopBtn:hover {
  transform: scale(1.1);
}

/*FOOTER_________________________________________________*/
footer,
footer a {
  margin-top: auto;
  text-align: center;
  padding: 1.5em 0;
  background: var(--text-color);
  color: rgba(255, 255, 255, 0.801);
  font-size: 0.9rem;
  letter-spacing: 1px;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 1500px) {
  #wrapper {
    max-width: 90%;
  }

  #projects {
    width: 100%;
  }
}

@media (max-width: 1300px) {
  .project-card {
    gap: 2em;
  }

  .project-card-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #projects img {
    width: 350px;
    height: 350px;
  }

  #info {
    height: 50vh;
    min-height: 900px;
  }

  #skills {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }
}

/*MEDIUM_________________________________________________*/
@media (max-width: 1080px) {
  .project-desc-text ul li {
    margin: 0;
  }

  .project-desc-text p {
    margin: 0;
    font-size: 0.8rem;
  }

  .project-link a {
    font-size: 1rem;
  }
}

/*MEDIUM2_________________________________________________*/
@media (max-width: 1000px) {
  #projects img {
    width: 250px;
    height: 250px;
  }
  #panels {
    margin: 1em;
  }
}

/*SMALL_________________________________________________*/
@media (max-width: 850px) {
  .photo {
    display: none;
  }

  #panels {
    margin: 2em;
  }

  #skills {
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
  }
}

/*SMALL2_________________________________________________*/
@media (max-width: 700px) {
  nav {
    gap: 0.7rem;
    padding: 0.7rem;
  }

  nav a {
    padding: 6px 8px;
    font-size: 1em;
  }

  nav i {
    font-size: 18px;
  }

  #wrapper {
    max-width: 90%;
  }

  .left,
  .right {
    font-size: 1rem;
    padding: 0.3rem;
  }

  #skills {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .skill-container img {
    width: 40px;
    height: 40px;
  }

  .skill-container span,
  .fact-text {
    font-size: 0.8rem;
  }

  .code-text {
    font-size: 0.7rem;
  }

  .projects-row {
    flex-direction: column;
  }

  .project-card {
    width: 100%;
    gap: 1em;
    margin: auto;
    padding: 1em 0.5em;
  }

  .project-link a {
    font-size: 0.9rem;
  }

  .project-card-content {
    flex-direction: column;
    gap: 0.5em;
  }

  #projects img {
    width: 250px;
    height: 250px;
  }

  footer,
  footer a {
    font-size: 0.7rem;
  }
}
/*MICRO_________________________________________________*/
@media (max-width: 300px) {
  #info {
    min-height: 750px;
  }

  .project-link a {
    text-decoration: underline;
    color: blue;
    font-size: 0.8rem;
    padding: 0.1rem;
    background: white;
    box-shadow: none;
    background: none;
    border-radius: 0;
  }

  .project-img {
    display: none;
  }

  footer,
  nav a {
    font-size: 0.6rem;
  }
}
